In [ ]:
import pandas as pd

wage = pd.read_csv('D:/Muat Turun/wage.csv')
wage.head()

,year,age,sex,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,2006,18,1. Male,1. Never Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.318063,75.043154
1,2004,24,1. Male,1. Never Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,2. No,4.255273,70.476020
2,2003,45,1. Male,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.875061,130.982177
3,2003,43,1. Male,2. Married,3. Asian,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,5.041393,154.685293
4,2005,50,1. Male,4. Divorced,1. White,2. HS Grad,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.318063,75.043154

In [7]:
from sklearn.model_selection import train_test_split

x = wage.drop(columns=['wage'])
y = wage['wage']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

scale = StandardScaler()
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

x_train_num = scale.fit_transform(x_train.select_dtypes(include=['float64', 'int64']))
x_test_num = scale.fit_transform(x_test.select_dtypes(include=['float64', 'int64']))
x_train_cat = ohe.fit_transform(x_train.select_dtypes(include=['object']))
x_test_cat = ohe.fit_transform(x_test.select_dtypes(include=['object']))

In [14]:
import numpy as np

x_train_processed = np.hstack((x_train_num, x_train_cat))
x_test_processed = np.hstack((x_test_num, x_test_cat))

In [18]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(x_train_processed, y_train)

y_pred = lr.predict(x_test_processed)

print("Regression model coefficients:")
print(lr.coef_)
print("Regression model intercept:")
print(lr.intercept_)

Regression model coefficients:
[-4.14857455e-01 -2.35874209e-01  4.02206463e+01  7.10542736e-15
  1.80686184e+00  3.10413048e-01 -2.43500791e+00  7.98962952e-01
 -4.81229934e-01  2.00437051e-01 -1.43445587e-01 -7.17321970e-01
  6.60330507e-01 -2.57104757e-01 -1.71229597e+00 -2.44754990e+00
 -5.20490234e-01  4.93744086e+00  0.00000000e+00 -3.89276015e-01
  3.89276015e-01  7.36729002e-02 -7.36729002e-02 -2.31859603e+00
  2.31859603e+00]
Regression model intercept:
112.60679794175027

In [20]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 113.55668144946166
R-squared: 0.9271614030294775

In [21]:
default = pd.read_csv('D:/Muat Turun/default.csv')

default.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [22]:
from sklearn.linear_model import LogisticRegression

x = default.drop(columns=['default'])
y = default['default']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
scale = StandardScaler()
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
x_train_num = scale.fit_transform(x_train.select_dtypes(include=['float64', 'int64']))
x_test_num = scale.fit_transform(x_test.select_dtypes(include=['float64', 'int64']))
x_train_cat = ohe.fit_transform(x_train.select_dtypes(include=['object']))
x_test_cat = ohe.fit_transform(x_test.select_dtypes(include=['object']))
x_train_processed = np.hstack((x_train_num, x_train_cat))
x_test_processed = np.hstack((x_test_num, x_test_cat))
lr = LogisticRegression(max_iter=1000)
lr.fit(x_train_processed, y_train)
y_pred = lr.predict(x_test_processed)
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)
print("Logistic Regression Model Accuracy:", accuracy)
print("Confusion Matrix:\n", conf_matrix)
print("Classification Report:\n", class_report)
from sklearn.model_selection import cross_val_score
cross_val_scores = cross_val_score(lr, x_train_processed, y_train, cv=5)
print("Cross-validation scores:", cross_val_scores)
print("Mean cross-validation score:", np.mean(cross_val_scores))
from sklearn.model_selection import GridSearchCV
param_grid = {
    'C': [0.01, 0.1, 1, 10, 100],
    'penalty': ['l2', 'none']
}

Logistic Regression Model Accuracy: 0.9695
Confusion Matrix:
 [[1920   11]
 [  50   19]]
Classification Report:
               precision    recall  f1-score   support

          No       0.97      0.99      0.98      1931
         Yes       0.63      0.28      0.38        69

    accuracy                           0.97      2000
   macro avg       0.80      0.63      0.68      2000
weighted avg       0.96      0.97      0.96      2000

Cross-validation scores: [0.9775   0.971875 0.97375  0.970625 0.9775  ]
Mean cross-validation score: 0.97425

In [ ]:
x_train_