In [5]:
import os
os.getcwd()

'c:\\Users\\user\\Documents\\Machine-Learning\\01. Introduction to Machine Learning'

In [6]:
os.listdir('data')

['.ipynb_checkpoints',
 'Advertising.csv',
 'auto.csv',
 'boston.csv',
 'caravan.csv',
 'carseats.csv',
 'college.csv',
 'Credit.csv',
 'default.csv',
 'hitters.csv',
 'khan_xtest.csv',
 'khan_xtrain.csv',
 'khan_ytest.csv',
 'khan_ytrain.csv',
 'nci60_data.csv',
 'nci60_labs.csv',
 'optdigits.tes',
 'optdigits.tes.txt',
 'optdigits.tra',
 'portfolio.csv',
 'smarket.csv',
 'titanic.csv',
 'usarrests.csv',
 'wage.csv',
 'weekly.csv']

In [8]:
import pandas as pd
adv = pd.read_csv('data/Advertising.csv')
adv.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [ ]:
import sklearn