# Import common library

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [7]:
os.chdir('C:\\Users\\user\\Documents\\Machine-Learning\\01. Introduction to Machine Learning\\Data')

# Week 1 - Introduction to Machine Learning

# Week 2 - Linear Regression (Chapter 3)

## using statsmodel

In [9]:
import statsmodels.api as sm
boston = pd.read_csv('boston.csv')
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [43]:
x = pd.DataFrame({'intercept':np.ones(boston.shape[0]),
                  'lstat':boston['lstat']})
type(x)

pandas.core.frame.DataFrame

In [10]:
model = sm.OLS(boston['medv'], boston['lstat']).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   medv   R-squared (uncentered):                   0.449
Model:                            OLS   Adj. R-squared (uncentered):              0.448
Method:                 Least Squares   F-statistic:                              410.9
Date:                Tue, 22 Apr 2025   Prob (F-statistic):                    2.71e-67
Time:                        21:33:05   Log-Likelihood:                         -2182.4
No. Observations:                 506   AIC:                                      4367.
Df Residuals:                     505   BIC:                                      4371.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
lstat          1.1221      0.055     20.271      0.000       1.013       1.231
==============================================================================
Omnibus:                        1.113   Durbin-Watson:                   0.369
Prob(Omnibus):                  0.573   Jarque-Bera (JB):                1.051
Skew:                           0.112   Prob(JB):                        0.591
Kurtosis:                       3.009   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## Using scikit-learn

# Week 3 - Classification (Chapter 4)

# Week 4 - Resampling Methods (Chapter 5)

# Week 5 - Linear Model Selection (Chapter 6)

### Forward Selection

In [3]:
hitters_df = pd.read_csv('01. Introduction to Machine Learning/Data/hitters.csv')
hitters_df.head()

,Unnamed: 0,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,...,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,#NAME?,293,66,1,30,29,14,1,293,66,...,30,29,14,A,E,446,33,20,NaN,A
1,#NAME?,315,81,7,24,38,39,14,3449,835,...,321,414,375,N,W,632,43,10,475.0,N
2,#NAME?,479,130,18,66,72,76,3,1624,457,...,224,266,263,A,W,880,82,14,480.0,A
3,#NAME?,496,141,20,65,78,37,11,5628,1575,...,828,838,354,N,E,200,11,3,500.0,N
4,#NAME?,321,87,10,39,42,30,2,396,101,...,48,46,33,N,E,805,40,4,91.5,N

In [4]:
os.getcwd()

'C:\\Users\\user\\Documents\\Machine-Learning'

In [5]:
# calculate the number of missing rows in Salary column
hitters_df['Salary'].isnull().sum()

59

In [6]:
hitters_df.shape

(322, 21)

In [7]:
# remove any rows that contain missing values, along with the player names
hitters_df_clean = hitters_df.dropna().drop('Unnamed: 0', axis=1)
hitters_df_clean.shape

(263, 20)

In [29]:
def nCp(sigma2, estimator, X, Y):
    n, p = X.shape
    Yhat = esimator.predict(X)
    RSS = np.sum((Y - Yhat) ** 2)
    return -(RSS + 2 * p * sigma2) / n

In [28]:
n = hitters_df_clean.shape
type(n)

tuple

In [9]:
# one-hot encoding categorical data to convert into numerical data
dummies = pd.get_dummies(hitters_df_clean[['League', 'Division', 'NewLeague']])
dummies.head(10)

    League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
1      False      True       False        True        False         True
2       True     False       False        True         True        False
3      False      True        True       False        False         True
4      False      True        True       False        False         True
5       True     False       False        True         True        False
6      False      True        True       False         True        False
7       True     False       False        True         True        False
8      False      True       False        True        False         True
9       True     False        True       False         True        False
10      True     False        True       False         True        False

In [10]:
# drop column with independent variable (salary) and columns for which we created dummy variable (league, division, new league)
y = hitters_df_clean.Salary
x_ = hitters_df_clean.drop(['Salary', 'League', 'Division', 'NewLeague'], axis=1)
x = pd.concat([x_, dummies[['League_N', 'Division_W', 'NewLeague_N']]], axis=1)
x

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,League_N,Division_W,NewLeague_N
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,632,43,10,True,True,True
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,880,82,14,False,True,False
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,200,11,3,True,False,True
4,321,87,10,39,42,30,2,396,101,12,48,46,33,805,40,4,True,False,True
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,282,421,25,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497,127,7,65,48,37,5,2703,806,32,379,311,138,325,9,3,True,False,True
318,492,136,5,76,50,94,12,5511,1511,39,897,451,875,313,381,20,False,False,False
319,475,126,3,61,43,52,6,1700,433,7,217,93,146,37,113,7,False,True,False
320,573,144,9,85,60,78,8,3198,857,97,470,420,332,1314,131,12,False,False,False
321,631,170,9,77,44,31,11,4908,1457,30,775,357,249,408,4,3,False,True,False

In [13]:
import statsmodels.api as sm
sm.OLS(hitters_df_clean['Salary'], hitters_df_clean['Hits']).fit()

In [15]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model = lr.fit(hitters_df_clean['Hits'].reshape(-1,1), hitters_df_clean['Salary'])
model.summary

AttributeError: 'Series' object has no attribute 'reshape'

In [21]:
x = [10,23,32]
x.astype(float)

AttributeError: 'list' object has no attribute 'astype'

# Week 6 - Nonlinear models (Chapter 7)

<h1> Trial and Error</h1>

In [32]:
marketing = pd.read_csv('marketing.csv')

In [31]:
os.chdir('C:\\Users\\user\\Desktop')

In [ ]:
import statsmodels.api as sm
sm.OLS